html {
 
  color: lightyellow;
 
  font-size: calc(1em + 1vw -20%);

  background: url(https://mcdn.wallpapersafari.com/medium/21/2/Bkf9VP.jpg)
  no-repeat center center fixed;
 
  background-size: cover;
  
}

body {

height: 100%;
width: 100%;
padding: 5%;
margin: 0%;

background-color: rgba(89,7 , 68, 0.76);

}

#main {
  
}

#title {
  
  text-align: center;
  color: yellow;
  
}

#survey-form {

background-color: purple;
padding: 5%;
border-radius: 5%;
    
}

.form-item {
  
background-color: lightyellow;
color: black;
display: block;
width: 100%;
  
}

#description {

color: lightyellow;
text-align: center;
font-size: 100%;

}


#reset {

color: white;
background: red;
border: none;
display: block;
width: 100%;
padding: 2 %;

}

#submit {

color: black;
background-color: aqua;
border: none;
display: block;
width: 100%;
padding: 2%;

}

div.form {

display: block;
text-align: center;

}

form {

display: inline-block;
margin-left: auto;
margin-right: auto;
text-align: left;

}

input:hover{

background-color: grey;

}

