html { 
	font-size: calc(1em + 1vw);

}

body{
	background-color:#D0D1CF;
}
	
.titulo{
	text-align:center;
}

header{
	background-color:#59177D;
}

footer{ 
	color:#00122D;
	text-align:center;
	font-family:arial;
}

p{ 
	font-family:arial;
	color:#00122D;
	text-align:center;
} 

img{
	display: block;
	margin-left:auto;
	margin-right:auto;
	width: 55%;
}

.legend{
	text-align:center;
	font-family:arial;
}
.roxo{
	background-color:#59177D;
} 
